<footer class="footer sticky-bottom">
    <div class="f-info">    
        <div class="f-info-socials">
           <i class="fa-brands fa-instagram"></i>
           <i class="fa-brands fa-facebook"></i>
           <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brands">&copy; WanderLust Pvt Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>

<!-- <footer class="bg-dark text-white mt-auto py-3 fixed-bottom">
    <div class="container d-flex justify-content-between">
        <div class="f-info-socials">
            <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-white"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brands">&copy; WanderLust Pvt Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy" class="text-white">Privacy</a>
            <a href="/terms" class="text-white ml-2">Terms</a>
        </div>
    </div>
</footer> -->
