
    <% layout("/layout/boilerplate")-%>
    <div class="row col-6 offset-3 mt-4">
        <div class="alert alert-danger err" role="alert">
                <%= err.message%> 
             <!-- <h4 class="alert-heading"> -->
                
            <!-- </h4> -->
            <!-- <p>
                <#%=err.stack%>
            </p> -->
          </div>
    </div>

 

 